<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testDao" class="ru.otus.spring01.dao.TestDaoCSV">
        <constructor-arg name="path" value="test.csv"/>
    </bean>

    <bean id="testService" class="ru.otus.spring01.service.TestServiceImpl">
        <constructor-arg name="dao" ref="testDao"/>
    </bean>

    <bean id="communicationService" class="ru.otus.spring01.service.CommunicationServiceImpl">
    </bean>

    <bean id="studentService" class="ru.otus.spring01.service.StudentServiceImpl">
        <constructor-arg name="console" ref="communicationService"/>
    </bean>

    <bean id="testingService" class="ru.otus.spring01.service.TestingServiceImpl">
        <constructor-arg name="console" ref="communicationService"/>
    </bean>
    <bean id="testingRunnerService" class="ru.otus.spring01.service.TestingRunnerServiceImpl">
        <constructor-arg name="testService" ref="testService"/>
        <constructor-arg name="testingService" ref="testingService"/>
        <constructor-arg name="studentService" ref="studentService"/>
    </bean>
</beans>
