<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testDao" class="ru.otus.spring01.dao.TestDaoSimple">
        <constructor-arg name="path" value="test.csv"/>
    </bean>

    <bean id="testService" class="ru.otus.spring01.service.TestServiceImpl">
        <constructor-arg name="dao" ref="testDao"/>
    </bean>

</beans>
